$theme-colors: (
    "primary":  #2172d7,
    "secondary":#526173,    
    "dark":     #4D008C,
    "danger":   #fc4446,
    "info":     #2b8eeb,
    "success":  #16be3d,
);

$navbar-light-color: #2172d7;

.palleta {
    color: #DFC1F5;
    color: #DA83EA;
    color: #BB7DE9;
    color: #B470E6;
    color: #AE64E4;
    color: #4D008C;
}

$border-radius:     0rem;
$border-radius-lg:  0rem;
$border-radius-sm:  0rem;