// Add your settings here
@import "config/variables";

body {
    // font-family: 'Raleway', sans-serif;
    // font-size: 15px;
    // line-height: 1.428571429;
    // color: #4A4A4A;
    // background-color: #fff;

    /* Apenas se a navbar for fixed */
    // margin-top: 100px; 
}

/*=================== COLOR TEXT ===================*/
.text-gray {
    color: #616161;
}

/*=================== BORDERS ===================*/
.no-border {
    border: none !important;
}

.round {
    border-radius: .8em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
}

/*=================== ONLY COLOR ===================*/
.yellow {
    color: #ffcc00;
}

.blue {
    color: #2172d7;
}

/*=================== COLOR BACKGROUND ===================*/

.bg-white {
    background-color: #fff;
}


/**************************************************
 *************** OVERWRITES BOOTSTRAP *************
 **************************************************/

/*=================== DROPDOWN ===================*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 0.75rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .0rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    background-color: #f3f3f3 !important;
}

/*=================== BUTTONS ===================*/
.btn {
    border-radius: 4px;
}

.btn-outline-secondary:hover {
    background-color: #273a50;
    border-color: #273a50;
    color: #fff;
}

/*=================== NAVS, NAVBAR ===================*/
.navbar {
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav--item-menu-right {
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.navbar--border-bottom {
    border-bottom: solid 1px #c0c0c0;
}

.nav--link-enterprise-name {
    color: #59a4ff !important;
}

.nav--link-wait-execution {
    color: #3b3b3b !important;
}

.nav--link-services {
    color: #59a4ff !important;
    margin-top: -8px !important;
    padding-bottom: 16px !important;
}

.nav-atendimento {
    width: 100%;
    height: 153px;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.28);
}

.nav--link-attributes {
    color: #3b3b3b !important;
}

.navbar-nav .nav-link {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #59a4ff;
    font-weight: 300;
    background-color: #fff;
    border-bottom: 5px solid #2172d7;
}

/*=================== CARDS ===================*/
.card-title {
    font-size: 16px;
    font-weight: bold;
}

/*=================== FORMS/INPUTS ===================*/
.form-control:focus {
    border-color: #2172d7;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-webkit-input-placeholder {
    color: #b7b3be !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b3be !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b3be !important;
}

input:-ms-input-placeholder {
    color: #b7b3be !important;
}

textarea::-webkit-input-placeholder {
    color: #b7b3be !important;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b3be !important;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b3be !important;
}

textarea:-ms-input-placeholder {
    color: #b7b3be !important;
}

input[type="email"]::-webkit-input-placeholder {
    color: #b7b3be !important;
}

input[type="email"]:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b3be !important;
}

input[type="email"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b3be !important;
}

input[type="email"]:-ms-input-placeholder {
    color: #b7b3be !important;
}