// Add your settings here
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html body {
    color: #4A4A4A;
}

body {
    font-family: 'Roboto', sans-serif, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
    color: #4A4A4A !important;
    background-color: #e6ecf0;
    margin-top: 100px; /* Apenas se a navbar for fixed */
}

/*==============  OVERWRITES  ==============*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 0.75rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .0rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    background-color: #f3f3f3 !important;
}

.navbar {
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: solid 1px rgba(212, 216, 220, 0.5);
}

.navbar-nav .nav-link {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    font-weight: bold;
    background-color: #ae64e4;
    border-left: 3px solid #673AB7;
}

.btn-outline-secondary:hover {
    background-color: #273a50;
    border-color: #273a50;
    color: #fff;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.form-control:focus {
    border-color: #8149B7;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-webkit-input-placeholder {
    color: #b7b3be !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b3be !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b3be !important;
}

input:-ms-input-placeholder {
    color: #b7b3be !important;
}

textarea::-webkit-input-placeholder {
    color: #b7b3be !important;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b3be !important;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b3be !important;
}

textarea:-ms-input-placeholder {
    color: #b7b3be !important;
}

input[type="email"]::-webkit-input-placeholder {
    color: #b7b3be !important;
}

input[type="email"]:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b3be !important;
}

input[type="email"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b3be !important;
}

input[type="email"]:-ms-input-placeholder {
    color: #b7b3be !important;
}

/*==============  BUTTONS  ==============*/
.btn-outline-violet {
    color: #490688;
    background-color: transparent;
    background-image: none;
    border-color: #490688;
}

/*==============  SECTION  ==============*/
.section {
    margin: 30px 0 100px 0;
}

.section-info {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 60px;
}

/*===========  FOOTER  ===========*/
.site-footer {
    font-size: .80rem;
    border-top: 1px solid #d9dde0;
    padding: 30px 0;
    background-color: #dbe2e6;
    margin-top: 150px;    
}

.text-info-suporte {
    color:#949494
}

.row.gap-y {
    margin-top: -15px;
    margin-bottom: -15px;
}

.logo-footer img {
    margin-top: 10px;
}

.social-facebook {
    padding: 0px 5px 0 5px;
    font-size: 1.75em;
}

.social-twitter {
    padding: 0px 5px 0 5px;
    font-size: 1.75em;
}

.social-instagram {
    padding: 0px 5px 0 5px;
    font-size: 1.75em;
}

.social-dribbble {
    padding: 0px 5px 0 5px;
    font-size: 1.75em;
}

/*===========  MQC CLASSES  ===========*/
.ma-page {
    background-color: #fff;
    border: solid 1px #e5e5e5;
    display: block;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.ma-paragrafh {
    color: #848484;
}

.ma-emprego-atual {
    font-size: 14px;
    padding-top: 2px;
}

.ma-linkedin-container {
    background-color: #f5fbfd;
    border: 1px solid #b0e5f0;
    min-height: 138px;
    padding: 45px;
    text-align: center;
}

.ma-custom-upload{
    border:1px dashed #bec3ca;
    padding:30px;
    text-align:center;
}

.ma-custom-upload:hover{
    border:1px dashed #ae64e4;
    cursor:pointer;
}

.ma-custom-upload__subtitle{
    color:#7d8996;
    font-size:15px;
}

.ma-custom-upload__upload>*:not(:last-child){
    margin:0;
    margin-bottom:20px;
}

.ma-custom-upload__icon{
    background-image:url(../images/icn-upload.svg);
    background-position:center;
    background-repeat:no-repeat;
    height:35px;
}

.ma-custom-upload__action{
    background:none;
    border:0;
    color:#3c4d61;
    font-size:15px;
    font-weight:500;
    text-decoration:underline;
}

.ma-custom-upload__file{
    background-color:#f8f9f9;
    display:flex;
    height:45px;
    justify-content:space-between;
    padding:14px 20px;
}

.ma-custom-upload__filename{
    font-size:14px;
    font-weight:600;
    overflow:hidden;
    text-align:left;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:65%;
}

.ma-custom-upload__del-button{
    background:none;
    border:0;
    color:#ae64e4;
    font-weight:600;
}

.ma-custom-upload__del-button:hover{
    text-decoration:underline;
}

.ma-form-footer{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    border-top:solid 1px #e5e5e5;
    justify-content:space-between;
    margin:25px 0 0;
    padding:25px 0 0;
}

.ma-form-footer.right{
    justify-content:flex-end;
}

.ma-no-border {
    border: none !important;
}

.ma-navbar {
    background-color: #2172d7;
}

/*===========  Toggle Switch  ===========*/
.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20rem; 
}

.toggle.ios .toggle-handle { 
    border-radius: 20rem; 
}

/*===========  MEDIA QUERIES  ===========*/
@media (max-width: 768px) {
    .social {
        margin-top: 15px;
    }
}

@media (min-width: 768px){
    .ma-form-footer.separator-none-sm {
        border-top:0
    }

    .ma-form-footer .left-sm {
        justify-content:flex-start
    }

    .ma-form-footer *:not(:last-child) {
        margin-right:10px
    }
    
}


/* ---------------------------------------------------
  ESPAÇAMENTOS GLOBAIS HELPERS
----------------------------------------------------- */
.m-t-5 {
    margin-top: 5px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.p-t-45 {
    padding-top: 45px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.p-b-45 {
    padding-bottom: 45px !important;
}

.m-l-45 {
    margin-left: 45px !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.m-r-45 {
    margin-right: 45px !important;
}

.p-r-45 {
    padding-right: 45px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.p-t-60 {
    padding-top: 60px !important;
}

.m-b-60 {
    margin-bottom: 60px !important;
}

.p-b-60 {
    padding-bottom: 60px !important;
}

.m-l-60 {
    margin-left: 60px !important;
}

.p-l-60 {
    padding-left: 60px !important;
}

.m-r-60 {
    margin-right: 60px !important;
}

.p-r-60 {
    padding-right: 60px !important;
}

.m-t-70 {
    margin-top: 70px !important;
}

.p-t-70 {
    padding-top: 70px !important;
}

.m-b-70 {
    margin-bottom: 70px !important;
}

.p-b-70 {
    padding-bottom: 70px !important;
}

.m-l-70 {
    margin-left: 70px !important;
}

.p-l-70 {
    padding-left: 70px !important;
}

.m-r-70 {
    margin-right: 70px !important;
}

.p-r-70 {
    padding-right: 70px !important;
}

.m-t-80 {
    margin-top: 80px !important;
}

.p-t-80 {
    padding-top: 80px !important;
}

.m-b-80 {
    margin-bottom: 80px !important;
}

.p-b-80 {
    padding-bottom: 80px !important;
}

.m-l-80 {
    margin-left: 80px !important;
}

.p-l-80 {
    padding-left: 80px !important;
}

.m-r-80 {
    margin-right: 80px !important;
}

.p-r-80 {
    padding-right: 80px !important;
}

.m-t-90 {
    margin-top: 90px !important;
}

.p-t-90 {
    padding-top: 90px !important;
}

.m-b-90 {
    margin-bottom: 90px !important;
}

.p-b-90 {
    padding-bottom: 90px !important;
}

.m-l-90 {
    margin-left: 90px !important;
}

.p-l-90 {
    padding-left: 90px !important;
}

.m-r-90 {
    margin-right: 90px !important;
}

.p-r-90 {
    padding-right: 90px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.p-t-100 {
    padding-top: 100px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.m-l-100 {
    margin-left: 100px !important;
}

.p-l-100 {
    padding-left: 100px !important;
}

.m-r-100 {
    margin-right: 100px !important;
}

.p-r-100 {
    padding-right: 100px !important;
}